<h1>Edit User</h1>

<% if @user.errors.any? %>
<div>
    <ul>
        <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_for @user do |f| %>
Username: <%= f.text_field :username, placeholder: "Your user name here" %><br />
Email : <%= f.email_field :email, placeholder: "Please enter your email" %><br />
Password : <%= f.password_field :password, placeholder: "Enter the password" %><br />
Confirm password : <%= f.password_field :password_confirmation, placeholder: "Confirm the password" %><br />
<%= f.submit 'Submit Form'%>
<% end %>

<%# <%= form_tag('/users') do -%>
<%#  <%= label_tag 'username', 'Username:' %>
<%#  <%= text_field_tag 'username' %>
<%#  <%= label_tag 'username', 'Email:' %>
<%#  <%= email_field_tag 'email' %>
<%#  <%= label_tag 'username', 'Password:' %>
<%#  <%= password_field_tag 'password' %>
<%#  <%= label_tag 'username', 'Confirm password:' %>
<%#  <%= password_field_tag 'password_confirmation' %>
<%#
<%#  <%= submit_tag 'Submit Form' %>
<%# <% end -%>

<%# <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token ">
<%# 
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username">

    <label for="email">Email:</label>
    <input type="email" name="user[email]" id="email">

    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">

    <label for="password_confirmation">Confirm password:</label>
    <input type="password" name="user[password_confirmation]" id="password_confirmation">

    <input type="submit" value="Submit Form">
</form>  %>